.leisure-subcategory {
    padding: 8px 0 24px 0;
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: hidden;
    border-bottom: 1px solid #E0E0E0;
    flex-shrink: 0;
}

.leisure-subcategory__title {
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 16px;
}

.leisure-subcategory__links_grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-columns: 216px;
    min-height: 156px;
    max-height: 156px;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-auto-flow: column;
}

.leisure-subcategory__link {
    display: flex;
    margin-right: 16px;
}

.leisure-subcategory__link:hover {
    text-decoration: none;
}

.leisure-subcategory__link:nth-child(odd) {
    align-self: start;
    margin-bottom: 8px;
}

.leisure-subcategory__link:nth-child(even) {
    align-self: end;
}

.leisure-subcategory__link-img {
    width: 100%;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
    border-radius: 8px;
    margin-right: 8px;
    object-fit: cover;
}

.leisure-subcategory__link-img.--contain {
    object-fit: contain;   
}

.leisure-subcategory__link-description {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    max-width: 138px;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 78px;
}
