.sprite-map {
  width: 100%;
  max-width: 414px;
  padding: 0 24px;
}


.sprite-map__map {
  position: relative;
  width: 100%;
  padding-top: 68%;
  background: linear-gradient(124.17deg, #EEF7FF 0%, #D0EAFF 100%), #EBF6FF;
  border-radius: 16px;
  z-index: 1;
}

.sprite-map__map::before {
  content: '';
  position: absolute;
  top: 0;
  left: -24px;
  right: -24px;
  bottom: 0;
  display: block;
  background-image: url('../../icons/sprite-map.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.sprite-map__marker {
  position: absolute;
  z-index: 2;
  display: block;
  padding: 7px 5px;
  font-weight: bold;
  font-size: 10px;
  line-height: 1px;
  letter-spacing: -0.41px;
  color: #fff;
  background: linear-gradient(109.91deg, #FF5656 0%, #E20000 100%), #FCEFBA;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 40px;
}

.sprite-map__marker.--almaty {
  bottom: calc((40 / 222) * 100%);
  right: calc((49 / 327) * 100%);
}

.sprite-map__marker.--astana {
  top: calc((47 / 222) * 100%);
  left: calc((173 / 327) * 100%);
}
.sprite-map__marker.--krg {
  top: calc((99 / 222) * 100%);
  left: calc((184 / 327) * 100%);
}

.sprite-map__marker.--atyrau {
  top: calc((118 / 222) * 100%);
  left: calc((29 / 327) * 100%);
}
.sprite-map__marker.--aktobe {
  top: calc((81 / 222) * 100%);
  left: calc((5 / 327) * 100%);
}
.sprite-map__marker.--aktau {
  top: calc((162 / 222) * 100%);
  left: calc((35 / 327) * 100%);
}
.sprite-map__marker.--aktobe {
  top: calc((100 / 222) * 100%);
  left: calc((76 / 327) * 100%);
}
.sprite-map__marker.--kizilorda {
  top: calc((150 / 222) * 100%);
  left: calc((122 / 327) * 100%);
}
.sprite-map__marker.--kostanay {
  top: calc((51 / 222) * 100%);
  left: calc((127 / 327) * 100%);
}
.sprite-map__marker.--piter {
  top: calc((14 / 222) * 100%);
  left: calc((177 / 327) * 100%);
}
.sprite-map__marker.--pavlo {
  top: calc((49 / 222) * 100%);
  left: calc((241 / 327) * 100%);
}
.sprite-map__marker.--oskemen {
  top: calc((99 / 222) * 100%);
  left: calc((285 / 327) * 100%);
}
.sprite-map__marker.--taraz {
  top: calc((158 / 222) * 100%);
  left: calc((199 / 327) * 100%);
}
.sprite-map__marker.--turkestan {
  top: calc((162 / 222) * 100%);
  left: calc((175 / 327) * 100%);
}
.sprite-map__marker.--shymkent {
  top: calc((182 / 222) * 100%);
  left: calc((170 / 327) * 100%);
}
.sprite-map__marker.--uralsk {
  top: calc((81 / 222) * 100%);
  left: calc((6 / 327) * 100%);
}

.sprite-map__marker.--grande {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
}

