.leisure-page {
    padding-top: 3rem;
    padding-bottom: 7rem;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    border-radius: 24px 24px 8px 8px;
}

.leisure-page__title-wrapper {
    padding: 8px 24px
}

.leisure-page__title {
    font-weight: bold;
    margin: 0;
    font-size: 29px;
    line-height: 40px;
    color: #333333;
}
