.chat {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background: #F2F2F2;
    height: 100vh;
    padding-top: 64px;
    padding-bottom: 72px;
}

.chat__header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 64px;
    max-height: 64px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.chat__header-left {
    display: flex;
    align-items: center;
}

.chat__header-img {
    border-radius: 12px;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin-right: 16px;
    object-fit: cover;
}

.chat__header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chat__header-share-button {
    padding: 0;
    background: transparent;
    border: none;
    margin-right: 16px;
}

.chat__header-title {
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #333333;
    margin: 0;
}

.chat__header-close-button {
    padding: 0;
    background: transparent;
    border: none;
}

.chat__messages-wrapper {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}

.chat__messages {
    flex: 1 1 100%;
    margin-bottom: 8px;
    border-radius: 12px 12px 0 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 16px 16px 0;
}

.chat__input-wrapper {
    min-height: 72px;
    max-height: 72px;
    display: flex;
    background: #FFFFFF;
    padding: 8px 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.chat__input {
    flex: 1 1 95%;
    margin-right: 8px;
    background: #F2F2F2;
    border-radius: 12px;
    font-size: 17px;
    line-height: 24px;
    width: 100%;
    padding: 0 16px;
    border: none;
}

.chat__send-button {
    flex: 1 1 5%;
    text-align: center;
    border: none;
    padding: 0 8px;
    border-radius: 12px;
    background: #FF7815;
    color: #FFFFFF;
}

.chat__message-wrapper {
    flex-shrink: 0;
    padding: 16px 16px 0;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    max-width: 296px;
    margin-bottom: 16px;
}

.chat__message-wrapper--full-width {
    max-width: 100%;
    padding-bottom: 16px;
}

.chat__message-wrapper:first-child {
    margin-bottom: 0;
}

.chat__message {
    flex-shrink: 0;
    font-size: 15px;
    line-height: 20px;
    color: #333333;
}

.chat__welcome-message {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: #FFFFFF;
    max-width: 296px;
    margin-bottom: 16px;
    flex-shrink: 0;
}

.chat__welcome-message-img {
    width: 100%;
    max-height: 182px;
    flex-shrink: 0;
}

.chat__invite-friends-button {
    background: #FF7815;
    padding: 16px;
    border: none;
    border-radius: 16px;
    display: flex;
    min-height: 56px;
    max-height: 56px;
    margin-bottom: 16px;
}

.chat__invite-friends-button-text {
    margin-left: 16px;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}

.chat__youtube-link {
    margin-bottom: 8px;
}

.chat__message-nickname {
    flex-shrink: 0;
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 12px;
    color: #28A2FF;
}
