.questions-page .drawer-header {
  margin-bottom: 8px;
}

.questions-page .container {
  padding: 0 24px;
}

.questions-page__btn {
  width: 100%;
  max-width: 327px;
  margin-bottom: 8px;
}

.questions-page__btn:not(.--blue-text) {
  color: #BDBDBD;
}

.questions-page__btn.--center {
  justify-content: center;
}

.questions-page__text {
  margin-bottom: 16px;
  font-weight: bold;
}

.question.--flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.question__btn {
  display: inline-flex;
  justify-content: flex-end;
  flex-basis: 110px;
  flex-shrink: 0;
}

.question__btn .btn {
  margin-left: auto;
}

.questions-wrapper {
  padding: 4px 0;
}

.questions-wrapper .question {
  padding: 16px 0;
}

.question__content {
  margin-right: 8px;
  padding-right: 12px;
}

.question__content a:hover {
  text-decoration: none;
}

.question__subject {
  font-weight: 600;
  color: #333333;
}

.question__empty {
  font-size: 15px;
  line-height: 20px;
  color: #333333;
}

.question__subject.--list {
  font-size: 15px;
  line-height: 20px;
}

.question__subject.--accent {
  font-size: 17px;
  line-height: 24px;
}

.question__header {
  margin: 4px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #BDBDBD;
}

.answer-form {
  padding: 16px 0;
}

.answer-form legend {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.answer-form .form-control {
  margin-bottom: 8px;
}

.answer-form .btn {
  width: 100%;
  color: #FFF;
  justify-content: center;
  border-radius: 12px;
  padding: 0.85rem 1rem;
  text-transform: capitalize;
}

.answer-form .btn:not(.--blue) {
  font-size: 1.1rem;
  background: #E0E0E0;
}
