.rooms-grid__create-room-button-wrapper {
    width: 100%;
}

.rooms-grid__create-room-button {
    width: 100%;
    min-height: 120px;
    max-height: 120px;
    border-radius: 8px;
    margin-bottom: 8px;
    background: transparent;
    border: 2px dashed #FF7815;
    color: #FF7815;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.5;
}

.rooms-grid__create-room-button:focus {
    outline: none;
}

.rooms-grid__create-room-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #FF7815;
}
