/* nunito-regular - cyrillic_latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('./fonts/nunito-regular.woff2') format('woff2'), 
       url('./fonts/nunito-regular.woff') format('woff'); 
}
/* nunito-600 - cyrillic_latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
       url('./fonts/nunito-600.woff2') format('woff2'),
       url('./fonts/nunito-600.woff') format('woff');
}
/* nunito-700 - cyrillic_latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'),
       url('./fonts/nunito-700.woff2') format('woff2'),
       url('./fonts/nunito-700.woff') format('woff');
}
/* nunito-900 - cyrillic_latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: local('Nunito Black'), local('Nunito-Black'),
       url('./fonts/nunito-900.woff2') format('woff2'),
       url('./fonts/nunito-900.woff') format('woff');
}
