.map-drawer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF;
    z-index: 3000;
    transform: translateY(-300vh);
    transition: all 0.3s ease;
}

.map-drawer.--map-drawer-is-open {
    transform: translateY(0);
}

.map-drawer__close-button {
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 64px;
    max-width: 64px;
    min-height: 64px;
    max-height: 64px;
    margin-top: -16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 4px solid #C4C4C4;
    background: #FFFFFF;
}

.map-drawer__close-button:focus {
    outline: none;
}
.map-drawer-full {
    width: 100%;
    height: 100%;
}