.report {
  margin: 0 auto 24px;
}

.btn.report__btn {
  position: relative;
  width: 100%;
  max-width: 327px;
  padding-left: 4rem;
}

.btn.report__btn.--mini {
  width: 20rem;
  padding-right: 3rem;
}

.report__modal-content {
  border-radius: 0.5rem;
  overflow: hidden;
}

.report__modal-btn {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0;
  text-transform: uppercase;
  color: #333333;
}

.report__modal-btn + .report__modal-btn {
  border-top: 1px solid #2F80ED;
}

.report__modal-btn:hover {
  color: #333333;
}

.btn.report__btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 1.5rem;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  background-size: cover;
  background-image: url('../../icons/baloon.svg');
}

.report-inner__title {
  margin-bottom: 0.5rem;
  font-size: 27px;
  letter-spacing: -0.71px;
  color: #333333;
}

.report-inner__hint,
.report__hint {
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}

.report__hint {
  color: #fff;
}

.report-inner__input {
  margin-bottom: 1rem;
}

.form-control {
  background: #F2F2F2 !important;
  border-radius: 8px;
  border: none;
  height: calc(1.5em + 1.8rem + 2px);
  font-size: 1.1rem;
  padding: 0.9rem .75rem;
  font-weight: bold;
}

.form-control::placeholder {
  font-size: 1.1rem; 
  font-weight: bold;
}

textarea.form-control {
  height: calc(1.5em + 1.8rem + 2px);
  padding: 1.05rem .75rem 0.9rem;
  resize: none;
}

.report-inner__btn {
  width: 100%;
  margin-top: 1rem;
  justify-content: center;
}

.form-control-title {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  color: #4F4F4F;
  padding-left: 0.75rem;
}

.vehicle-controls .form-control {
  border: 1px solid #ced4da;
  background-color: #fff;
}

.vehicle-controls .form-control + .form-control {
  margin-top: 0.25rem;
}

.vahicle-controls__content {
  background: #F2F2F2;
  border-radius: 8px;
}

.vehicle-controls__item .vehicle-controls__item-input {
  padding: 0 1rem 1rem 3rem;
}

.vehicle-controls__item label {
  position: relative;
  display: flex;
  padding: 1rem 1rem 1rem 2rem;
  font-size: 1.1rem;
  color: #828282;
  margin-bottom: 0;
}

.vehicle-controls__item + .vehicle-controls__item {
  border-top: 1px solid #fff;
}

.vehicle-controls__item input[type="checkbox"] {
  display: none;
}

.vehicle-controls__item input:checked + span::after {
  display: block;
}

.vehicle-controls__item span {
  position: relative;
  display: inline-flex;
  margin-left: 1.25rem;
}

.vehicle-controls__item span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -2.5rem;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid #828282;
  border-radius: 2px;
}

.vehicle-controls__item input:checked + span::before {
  border-color: #2F80ED;
  background-color: #2F80ED;
}

.vehicle-controls__item span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -2.5rem;
  transform: translate(5px, -55%) rotate(45deg);
  display: none;
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
}

.vehicle-controls__item-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 24px;
  height: 24px;
  margin-top: -12px;
}

.report-response {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.report-response__icon {
  margin-top: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 66px;
  height: 66px;
}

.report-response__title {
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  letter-spacing: -0.71px;
  color: #333333;
}

.report-response__descr {
  font-size: 0.85rem;
  color: #333333;
  text-align: center;
}

.report-response__btn {
  margin-top: auto;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  font-size: 1.1rem;
  letter-spacing: -0.41px;
}

.with-tags {
  position: relative;
}

.with-tags .input-group {
  display: block;
  border-radius: 8px;
  overflow: hidden;
}

.with-tags .form-control {
  width: 100%;
  margin: 0 !important;
  border-radius: 0;
}

.with-tags .form-control:first-child {
  border-radius: 8px 8px 0 0;
}
.with-tags .form-control:last-child {
  border-radius: 0 0 8px 8px;
}

.with-tags__add-btn {
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  z-index: 102;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 50%;
  background-color: #2F80ED;
  color: #fff;
  font-weight: bold;
  line-height: 1.1;
  border: none;
}

.with-tags__wrapper {
  margin-bottom: 0.5rem;
}

.with-tags__tag {
  display: inline-flex;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.tag {
  position: relative;
  display: block;
  max-width: 200px;
  padding: 0.5rem 2.25rem 0.5rem 1.25rem;
  background: #2F80ED;
  border-radius: 16px;
  color: #FFFFFF;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag__remove {
  position: absolute;
  top: 50%;
  right: 6px;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  background: transparent;
}

.tag__remove::before, 
.tag__remove::after {
  background-color: #fff;
}

