.mobile-header {
  justify-content: space-between;
  align-items: baseline;
}
.city__settings {
  display: flex;
  align-items: center;
  justify-content:space-between;
  font-weight: bold;
}

.city__settings-label {
  display: inline-flex;
  margin: 0 12px 0 0;
}

.city__select {
  color:#2F80ED;
  font-weight: bold;
}

@media(max-width: 640px) {
  .map-wrapper {
    position: relative;
    margin: 0 16px;
    margin-bottom: 60px;
  }

  .loop::after {
    content: '';
    position: absolute;
    bottom: -12px;
    right: -12px;
    z-index: 2;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2);
    background-image: url('../icons/zoom.svg');
    background-size: 24px 24px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}