.game-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0 24px 6px;
}

.game-page.--brain-wars {
  background: rgba(0, 0, 0, 0.6) url('/images/brain-wars.jpg') no-repeat 50% 50%;
  background-size: cover;
}

@media only screen and (max-width: 360px) {
  .game-page {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 720px) {
  .game-page {
    padding-top: 60px;
  }
}

.game-page__presented-btn {
  width: 100%;
  max-width: 327px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.game-page__logo {
  margin-top: auto;
  margin-bottom: auto;
}
.game-page__close-btn {
  margin-top: 36px;
}

.game-page__content {
  width: 100%;
  margin-bottom: auto;
  padding-top: 2rem;
}

.game-page__header {
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 29px;
  line-height: 40px;
}

.game-page__form {
  margin-top: 24px;
}

.game-page__form .form-control {
  margin-bottom: 8px;
}

.game-page__btn {
  width: 100%;
  color: #fff;
  justify-content: center;
}

.game-page__btn:hover {
  color: #fff;
}

.game-page__result {
  font-size: 20px;
  line-height: 27px;
  color: #828282;
  font-weight: bold;
  margin-bottom: 16px;
}

.game-page__rating-header {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 27px;
  color: #828282;
  font-weight: bold;
}
.game-page__rating {
  margin-bottom: 24px;
}

.game-page__rating-subheader {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.rating-person {
  display: flex;
  justify-content: space-between;
}

.quiz__state {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 8px 16px;
  background: #F2F2F2;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #828282;
}

.quiz__q-number {
  margin-right: auto;
}

.quiz__point.--error {
  color: #f23030;
}
.quiz__point.--success {
  color: #3fb20b;
}

.quiz__q {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
}

.quiz__time {
  display: flex;
  margin-bottom: 24px;
  height: 12px;
  background: #F2F2F2;
  border-radius: 24px;
  overflow: hidden;
}

.quiz__time span {
  display: inline-flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(174.22deg, #FF5656 0%, #E20000 100%), linear-gradient(128.63deg, #FF8C43 0%, #FF6D23 100%), linear-gradient(174.22deg, #79DB18 0%, #249F05 100%), #C4C4C4;
}

.quiz__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  justify-content: space-between;
  column-gap: 8px;
}

.quiz__item {
  height: 80px;
  padding: 8px;
  margin-bottom: 8px;
  background: #F2F2F2;
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  color: #333333;
  border: 2px solid #F2F2F2;
}

.quiz__item.--success {
  border-color: #3fb20b;
}

.quiz__item.--error {
  border-color: #f23030;
}
