.room-create-drawer__header {
    padding: 8px 24px;
    display: flex;
    justify-content: space-between;
}

.room-create-drawer__header-title {
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #333333;
    margin: 0;
}

.room-create-drawer__cancel {
    font-size: 17px;
    line-height: 24px;
    color: #FF7815;
    margin: 0;
}

.room-create-drawer__form {
    padding: 8px 24px 24px;
}

.room-create-drawer__title-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 24px;
}

.room-create-drawer__title {
    background: #F2F2F2;
    border-radius: 12px;
    font-size: 17px;
    line-height: 24px;
    width: 100%;
    padding: 24px 16px 8px;
    border: none;
}

.room-create-drawer__title-label {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #FF7815;
    margin: 0;
}

.room-create-drawer__radio-buttons-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.room-create-drawer__radio-button-wrapper {
    position: relative;
    padding: 8px 0 8px 32px;
    margin: 0;
}

.room-create-drawer__radio-button {
    width: 0;
    height: 0;
    opacity: 0;
}

.room-create-drawer__radio-check-wrapper {
    position: absolute;
    left: 4px;
    top: 8px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-create-drawer__radio-check-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #DADADA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-create-drawer__radio-button:checked ~
    .room-create-drawer__radio-check-wrapper >
        .room-create-drawer__radio-check-circle {
    border-color: #FF7815;
}

.room-create-drawer__radio-check-inner-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.room-create-drawer__radio-button:checked ~
    .room-create-drawer__radio-check-wrapper >
        .room-create-drawer__radio-check-circle >
            .room-create-drawer__radio-check-inner-circle {
    background: #FF7815;
}

.room-create-drawer__select {
    margin-bottom: 16px;
}

.room-create-drawer__submit-button {
    width: 100%;
    padding: 16px;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background: #FF7815;
    border-radius: 12px;
}
