.contacts__header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contacts__header h2 {
  margin-bottom: 0;
  line-height: 1;
}

.contacts__header-select {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 6px;
}

@media (max-width: 320px) {
  .contacts__header .select-classic.--more-bigger .select-classic__value-container {
    padding-right: 100px;
  }
}

.contacts_select {
  text-align-last: right;
  border: 0;
  -webkit-appearance: none;
  background: #fff;
  padding: 0;
  margin: 0;
  height: fit-content;
  text-transform: uppercase;
  color: #2F80ED;
  font-weight: bold;
}
