.leisure-two-columns-grid {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    justify-content: space-between;
    column-gap: 16px;
}
@media (max-width: 360px) {
    .leisure-two-columns-grid {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        padding: 24px 10px;
    }
}

.leisure-two-columns-grid__item {
    max-width: 155px;
    text-decoration: none;
    color: #333;
}

.leisure-two-columns-grid__item:hover {
    text-decoration: none;
}

.leisure-two-columns-grid__item-img-wrapper {
    margin-bottom: 8px;
    border-radius: 16px;
    overflow: hidden;
    font-size: 0;
}
.leisure-two-columns-grid__item-img {
    display: block;
    width: 100%;
    min-height: 120px;
    max-height: 120px;
    border-radius: 8px;
    object-fit: cover;
}

.leisure-two-columns-grid__item-img.--poker {
    object-position: 0 -28px;
}

.leisure-two-columns-grid__item-title {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 17px;
    line-height: 18px;
    color: #333333;
}

.leisure-main-items {
    padding: 8px 0 54px 0;
    margin: 0 16px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    border-bottom: 1px solid #E0E0E0;
    flex-shrink: 0;
}

.leisure-main-item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-right: 20px;
    min-width: 312px;
    max-width: 312px;
}


.leisure-main-item__img {
    width: 100%;
    min-height: 160px;
    max-height: 160px;
    border-radius: 8px;
    margin-bottom: 8px;
    object-fit: cover;
}

.leisure-main-item__img.--contain {
    object-fit: contain;
}

.leisure-main-item__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 4px;
}

.leisure-main-item__resource {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #0088F1;
}
