.map {
  height: 60vh;
  top: 56px;
}

.navbar {
  background-color: #2f80ed;
}

.request-popup .leaflet-popup-content-wrapper {
  border-radius: 0px;
}

.card-wrapper {
  flex-direction: row;
  justify-content: space-evenly;
}
.date-wrapper {
  display: flex;
  padding: 8px 0;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-title {
  padding: 6px 0;
  font-weight: 900;
  font-size: 17px;
  line-height: 18px;
  /* identical to box height */
  margin: 0;
  letter-spacing: -0.5px;
  color: #4f4f4f;
  padding-left: 52px;
  background-image: url(./icons/corona-logo.svg);
  background-position: 0 50%;
  background-size: 48px 48px;
  background-repeat: no-repeat;
}
.page-title b {
  display: block;
}

.wrapper {
  padding: 16px 16px;
  position: relative;
  z-index: 1000;
}

.date-title {
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  letter-spacing: -0.41px;
  padding-right: 15px;
}
.date-updated {
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;
  text-align: left;
  letter-spacing: -0.41px;
  color: #333333;
}
.page-desc {
  font-size: 12px;
  line-height: 14px;

  /* #333333 */

  color: #333333;
  margin: 0;
}
.page-cards {
  margin-top: 60px;
}

.page_statistics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  border-radius: 16px;
}
.page_statistics.--drawer {
  border-radius: 24px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.15);
  border: 8px solid #fff;
}

.drawer-page-statistics {
  position: absolute;
  z-index: 100;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 380px;
  padding: 0 10px;
}

.statistic {
  position: relative;
  height: 60px;
  flex-basis: calc(100% / 3);
  padding: 8px 6px;
  border-radius: 2px;

  /* #F2F2F2 */

  background: #fff;
}

.statistic::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  filter: blur(16px);
  z-index: -1;
}

.statistic.--red,
.statistic.--red::after {
  background: linear-gradient(121.04deg, #ff5656 0%, #e20000 100%),
    linear-gradient(121.04deg, #ffa216 0%, #ff4d14 100%), #eb6765;
}

.statistic.--green,
.statistic.--green::after {
  background: linear-gradient(121.04deg, #79db18 0%, #249f05 100%), #66be76;
}

.statistic.--gray,
.statistic.--gray::after {
  background: linear-gradient(121.04deg, #8a8d92 0%, #5f6368 100%), #828282;
}

.page_statistics .statistic:first-child,
.page_statistics .statistic:first-child::after {
  border-radius: 16px 2px 2px 16px;
}

.page_statistics .statistic:last-child,
.page_statistics .statistic:last-child::before {
  border-radius: 2px 16px 16px 2px;
}

.statistic:nth-child(2) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.statistic:nth-child(3) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.statistic:nth-child(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.stat__title {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}
.stat__title._red {
  color: #eb5757;
}
.stat__title._green {
  color: #5695eb;
}
.stat__title._gray {
  color: #828282;
}

.stat__count {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.41px;
  color: #fff;
  text-align: center;
}
.stat__count._red {
  color: #eb5757;
}
.stat__count._green {
  color: #5695eb;
}
.stat__count._gray {
  color: #828282;
}
@media only screen and (max-width: 600px) {
  .page-cards {
    display: none;
  }
  footer {
    display: none;
  }
  .page-statistic {
    display: none;
  }
  .card-wrapper {
    flex-direction: column;
  }
  .navbar {
    display: none;
  }
  .map {
    height: 240px;
    border-radius: 16px;
    top: 0;
  }
}
.link-wrapper {
  display: flex;
  justify-content: space-around;
}
@media only screen and (min-width: 640px) {
  .mobile-only {
    display: none;
  }
}

.my-custom-icon {
  margin-left: -12px;
  margin-top: -12px;
  border-radius: 50%;
  border: 2px solid #3f51b5;
  text-align: center;
  color: #fff;
  background-color: #fff;
  font-size: 14px;
  background: #eb5757;
  opacity: 0.9;
  border: 1px solid rgba(51, 51, 51, 0.4);
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(235, 87, 87, 0.6);
}

.roadblock-icon {
  border-radius: 50%;
  text-align: center;
  background: #bb3e45;
  box-sizing: border-box;
  border: 2px solid #fff;
  font-size: 0;
  z-index: -900 !important;
}
.roadblock-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  padding-top: 25%;
  background-color: #fff;
  border-radius: 1px;
}

.icon-number {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.marker-cluster-custom {
  border-radius: 50%;
  color: #ededed;
  height: 60px;
  line-height: 32px;
  text-align: center;
  width: 60px;
  background: rgb(235, 87, 87);
  opacity: 0.9;
  border: 4px solid rgba(51, 51, 51, 0.4);
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(235, 87, 87, 0.6);
}

.marker-roadblock-cluster-custom {
  font-size: 0;
}

.marker-cluster-number {
  font-size: 12px;
  line-height: 14px;
}

.desktop_languages_select {
  border: 0;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  height: fit-content;
  text-transform: uppercase;
  color: #fff;
  background: #2f80ed;
  font-weight: bold;
}

.leaflet-container a.leaflet-popup-close-button {
  height: 30px !important;
  width: 30px !important;
}
