html {
  height: 100%;
}

body {
  margin: 0;
  padding-top: 0;
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /* display: grid; */
  /* grid-template-rows: 1fr auto; */
}

.navbar-brand {
  margin-right: auto;
}

@media (max-width: 640px) {
  .navbar-brand {
    width: 100%;
  }
}

.link-white {
  color: #fff;
  transition: opacity ease 150ms;
}

.link-block {
  display: block;
}

.link-block:hover {
  text-decoration: none;
}

.link-white:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.8
}

.main {
}

.footer {
  margin-top: auto;
  /* grid-row-start: 2; */
  /* grid-row-end: 3; */
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.social-share {
  display: flex;
  align-items: center;
}

.social-share__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  width: 42px;
  height: 42px;
  background-color: #333;
  border-radius: 4px;
  transition: background-color ease 150ms;
}

.social-share__link:hover {
  background-color: #666;
}

.statistics {
  position: relative;
  margin-top: 2rem;
}

.statistics__title {
  margin-bottom: 1.5rem;
  text-align: center;
}


@media (min-width: 601px) {
  .statistics__updated {
    display: block;
    margin-left: auto;
    text-align: right;
    font-size: 12px;
  }

  .page {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .page.--desktop {
    padding-top: 1rem;
  }
}

@media (max-width: 600px) {
  .page.--desktop {
    padding-bottom: 0;
  }
}

.title {
  font-size: 1.85rem;
}

.news-item {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.news-item-link {
  display: block;
}

.news-item-link:last-child .news-item {
  box-shadow: none;
}

.news-item-link:hover {
  text-decoration: none;
}

.news-item-link.--leisure .news-item__resource {
  color: #2F80ED;
  font-size: 12px;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .news-item-link.--leisure .news-item {
    padding-top: 2.5rem;
  }
  .news-item-link.--leisure .news-item__resource {
    position: absolute;
    top: 1rem;
    left: 0;
  }
}

.news-item.--with-image {
  display: grid;
  grid-template-columns: auto 70px;
  grid-gap: 1rem;
  grid-template-areas: 'content image';
}

@media (min-width: 641px) {
  .news-item__img-wrapper {
    grid-area: image;
  }

  .news-item__content {
    grid-area: content;
  }
}

.news-item__date {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  color: #BDBDBD;
}

.news-item__content {
  display: flex;
  flex-direction: column;
}
.news-item__resource {
  display: inline-block;
  font-size: 0.75rem;
  color: #FF7815;
  font-weight: 600;
  line-height: 1;
}

.news-item__img-wrapper {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  background-color: #F2F2F2;
  overflow: hidden;
}

.news-item__img-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-item__title {
  max-height: 66px;
  overflow: hidden;
  margin-bottom: 4px;
  font-size: 1rem;
  line-height: 1.4;
  color: #333333;
  font-weight: bold;
}

.page-section {
  margin-bottom: 2.5rem;
}

.page-section__title {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #333333;
  font-weight: bold;
}

.page-section__title.--bigger {
  font-size: 29px;
  line-height: 32px;
  font-weight: 800;
}

.btn {
  display: inline-flex;
  padding: 0.5rem;
  background: #F2F2F2;
  border-radius: 8px;
  color: #2F80ED;
  font-size: 1rem;
  font-weight: bold;
}

.btn.--center {
  justify-content: center;
}

.btn:hover {
  color: #2F80ED;
  text-decoration: none;
}

.btn.--radius-xl {
  border-radius: 12px;
}

.btn.--white {
  background-color: #fff;
}

.btn.--alert {
  padding: 0.75rem;
  background: linear-gradient(154.7deg, #FF5656 0%, #E20000 100%), #FFFFFF;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 0.5px;
}

.btn.--with-icon {
  padding: 0.75rem 1rem 0.75rem 3.5rem;
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 0.5px;
}

.btn.--big-space {
  padding: 0.85rem 1rem;
}

.btn.--q-icon {
  background-image: url('./icons/help-outline.svg');
  background-repeat: no-repeat;
  background-position: 12px 50%;
}

.btn.--blue {
  padding: 0.75rem;
  background: #2F80ED;
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.btn.--green {
  position: relative;
  z-index: 1;
  background: linear-gradient(154.7deg, #79DB18 0%, #249F05 100%), #27AE60;
  color: #fff;
}

.btn.--green::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  background: linear-gradient(154.7deg, #79DB18 0%, #249F05 100%), #27AE60;
  opacity: 0.4;
  filter: blur(16px);
  border-radius: inherit;
}

.btn.--mini {
  padding: 0.3rem 0.5rem;
  text-transform: capitalize;
}

.btn.--mini {
  font-size: 0.9rem;
  letter-spacing: 0;
}

.call-link {
  position: relative;
  width: 100%;
  max-width: 320px;
  background-color: #fff;
  padding: 16px 16px 16px 56px;
  font-size: 17px;
  font-weight: bold;
  color: #0088F1;
  line-height: 1;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.call-link::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 16px;
  display: block;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  background-image: url("./icons/phone-plane.svg")
}

.page-section__content .call-link {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.call-link__text {
  color: #000;
}

.address-widget {
  position: relative;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 1.5rem;
}

.address-widget.--marker {
  padding-left: 2.5rem;
}
.address-widget.--marker::before {
  content: ' ';
  position: absolute;
  top: 1rem;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url('./icons/place.svg');
  filter: invert(35%) sepia(54%) saturate(4300%) hue-rotate(189deg) brightness(102%) contrast(100%);
  background-size: cover;
}

.address-widget__title {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 0.85rem;
  font-weight: 600;
  color: #828282;
}

.address-widget__street {
  font-size: 0.88rem;
  color: #333333;
  font-weight: 600;
}

.page-section__content {
  padding-bottom: 1.25rem;
}

.mobile-nav {
  display: none;
}

@media (max-width: 640px) {
  .full-width-sm {
    width: 100%;
  }
  .btn.full-width-sm {
    justify-content: center;
  }

  .mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    background-position: center center;
    background-color: #28A2FF;
    background-repeat: no-repeat;
    z-index: 100;
  }
}

.mobile-nav__first-half {
  display: flex;
  padding: 8px 0;
  flex: 1 1 100%;
}

.mobile-nav-button {
  flex: 0 0 64px;
  width: 64px;
  height: 64px;
  margin-top: -16px;
  background: linear-gradient(180deg, #FF8C43 0%, #FF6D23 100%), #C4C4C4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: all 0.3s ease;
  border: 4px solid #FFFFFF;
}

.mobile-nav-button.--leisure-is-open {
  border-color: #C4C4C4;
  background: #FFFFFF;
}

.mobile-nav-button__close-icon {
  display: none;
}

.mobile-nav-button.--leisure-is-open > .mobile-nav-button__close-icon {
  display: block;
}

.mobile-nav-button.--leisure-is-open > .mobile-nav-button__text {
  display: none;
}

.mobile-nav-button:focus {
  outline: none;
}

.mobile-nav-button__text {
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  margin: 0;
}

.mobile-nav-button__text.--bold {
  font-weight: bold;
}

.mobile-nav__second-half {
  display: flex;
  padding: 8px 0;
  flex: 1 1 100%;
  justify-content: flex-end;
}

.mobile-nav__link {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  max-width: 75px;
  font-size: 0.6rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  opacity: 0.7;
}

.mobile-nav__link:hover {
  text-decoration: none;
}

.mobile-nav__link::before {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(100%) sepia(1%) saturate(2715%) hue-rotate(261deg) brightness(117%) contrast(100%);
  background-size: cover;
}

.mobile-nav__link.active {
  color: #FFFFFF;
  opacity: 1;
}

.mobile-nav__link.active::before {
  filter: invert(100%) sepia(1%) saturate(2715%) hue-rotate(261deg) brightness(117%) contrast(100%);
}

.mobile-nav__link.--map-kz::before {
  background-image: url('./icons/map-kz.svg');
}

.mobile-nav__link.--contacts::before {
  background-image: url('./icons/contacts.svg');
}

.mobile-nav__link.--info::before {
  background-image: url('./icons/info.svg');
}

.mobile-nav__link.--graphs::before {
  background-image: url('./icons/graphs-map.svg');
}

.news__title {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  background: #F2F2F2;
  border-radius: 40px;
}
.news__title-link {
  display: inline-flex;
  justify-content: center;
  padding: 12px 0;
  flex-basis: 50%;
  border: none;
  font-size: 15px;
  line-height: 1;
  font-weight: bold;
  color: #828282;
}
.news__title-link.--news {
  flex-basis: 30%;
}
.news__title-link.--info {
  flex-basis: 30%;
}
.news__title-link.--diagnostics {
  flex-basis: 40%;
}

.page {
  padding-bottom: 3rem;
}

@media (max-width: 320px) {
  .news__title-link {
    font-size: 14px;
  }

  .news .container {
    padding: 0 12px;
  }
}


.news__title-link:hover {
  text-decoration: none;
  color: #828282;
}
.news__title-link:focus {
  outline: none;
}

.news__title-link.active {
  color: #28A2FF;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}

.news__expander {
  margin-left: -15px;
  margin-right: -15px;
}

.expander {
  box-shadow: inset 0 -1px 0 #DADADA;
}

@media (max-width: 640px) {
  .expander.active {
    background: #F2F2F2;
  }
}

.expander.active .expander__content {
  padding: 0 1rem 2.5rem;
}

.expander__content {
  font-size: 14px;
  color: #333333;
}

.expander__trigger {
  position: relative;
  width: 100%;
  padding: 1rem 2.5rem 1rem 1rem;
  font-size: 1.25rem;
  letter-spacing: -0.71px;
  text-align: left;
  background: transparent;
  border: none;
}

.expander__trigger:focus {
  outline: none;
}

.expander__trigger::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 1.25rem;
  width: 10px;
  height: 10px;
  border: 2px solid #BDBDBD;
  border-top: none;
  border-left: none;
  transform: translateY(-50%) rotate(45deg);
  z-index: 2;
}

.expander.active .expander__trigger {
  color: #2F80ED;
}
.expander.active .expander__trigger::before {
  border-color: #2F80ED;
  transform: translateY(-50%) rotate(-135deg);
}

.form-control::placeholder {
  font-size: 14px;
}

.icon {
  display: inline-flex;
  background-size: cover;
}

.icon.--checkmark {
  background-image: url('./icons/checkmark.svg')
}

.icon.--emotion-sad {
  background-image: url('./icons/emotion-sad.svg')
}

.icon.--plane {
  background-image: url('./icons/plane.svg')
}
.icon.--auto {
  background-image: url('./icons/bus.svg')
}
.icon.--train {
  background-image: url('./icons/train.svg')
}

.main-page {
  padding-bottom: 3rem;
}

.disclaimer {
  margin-bottom: 2rem;
  font-size: 12px;
}

.disclaimer__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.disclaimer__text {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px
}

.disclaimer__list {
  font-size: 12px;
  margin: 0;
}
