.modal-cr {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  outline: none;
  user-select: none;
  overflow: hidden;
  z-index: 101000;
}

.modal-cr.--flex-end {
  justify-content: flex-end;
}

.modal__background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, .25);
  outline: none;
  user-select: none;
  will-change: opacity;
  transition-timing-function: ease-out;
  z-index: 1;
}

.modal__body {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 16px 16px 0px 0px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2), 0px 0px 16px rgba(0, 0, 0, 0.1), 0px 0px 8px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  z-index: 2; 
}

.--red .modal__body {
  background: #2F80ED;
}

.modal__wrapper {
  position: relative;
  width: 100%;
  padding: 10px;
  z-index: 2;
  will-change: transform;
}

.modal__close.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 32px;
  height: 32px;
  background-color: rgba(189, 189, 189, 0.4);
  border-radius: 50%; 
}

.modal__cancel {
  margin: 1rem auto 0;
  border-radius: 50%;
}

.close-btn {
  position: relative;
  display: flex;
  width: 54px;
  height: 54px;
  background: #FFFFFF;
  font-size: 0;
  border: none;
}

.close-btn:focus {
  outline: none;
}

.close-btn::before,
.close-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2px;
  background: #333;
}

.close-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
