.drawer-header {
    display: flex;
    padding: 8px 24px;
    align-items: center;
    flex-shrink: 0;
}

.drawer-header__arrow-button {
    padding: 0;
    border: none;
    background: transparent;
    margin-right: 16px;
}

.drawer-header__title {
    margin: 0;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #333333;
}
